<div class="bg-gradient-to-r from-indigo-400 to-purple-500 p-4 text-white h-full flex flex-col items-center w-72 min-h-screen text-center transition-all duration-300 @(collapseNavMenu ? "w-0 px-0" : "")">
    <div class="text-center mb-4 flex flex-col whitespace-nowrap">

        <button class="ml-auto mb-2" @onclick="ToggleNavMenu">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 -mr-6 -mt-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
             </svg>
        </button>
        <a class="text-2xl font-bold text-center" href="">BlazorTailwind</a>

    </div>
    <div class="whitespace-nowrap">
        <ul class="flex flex-col space-y-2">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="todo">
                    <span class="oi oi-plus" aria-hidden="true"></span> Todo
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<div class="p-4 pr-0 flex-col @(collapseNavMenu ? "" : "p-0")">
    <button class="@(collapseNavMenu ? "block" : "hidden")" @onclick="ToggleNavMenu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
</div>

@code {
    private bool collapseNavMenu = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}