@page "/counter"
@page "/counter/{startingValue:int}"

<h1 class="text-4xl text-gray-900 font-bold">Counter</h1>

<p class="my-4">Current count: @currentCount</p>

<button class="px-3 py-1 bg-gray-900 text-white" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Parameter]
    public int StartingValue { get; set; } = 0;

    [Parameter]
    public int IncrementBy { get; set; } = 1;

    protected override void OnParametersSet()
    {
        currentCount = StartingValue;
        base.OnParametersSet();
    }

    private void IncrementCount()
    {
        currentCount+= IncrementBy;
    }
}
